<!-- Allows the page to override blocks defined in the logged_in page -->
{% extends "main_app/logged_in.html" %}

{% block stylesheets %}
    {{ block.super }}

    <style id='generate-quiz-css'>
        #content {
            padding: 3em;
            margin-bottom: 6em;
            
            justify-self: center;
            align-self: center;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Display terms <br>and definitions</h1>
    <form method="POST">
        {% csrf_token %}

        <!-- Renders the form with paragraph tags -->
        {{ form.as_p }}

        <button type="submit">Go</button>
    </form>
{% endblock content %}