<!-- Allows the page to override blocks defined in the base page -->
{% extends "main_app/base.html" %}

<!-- Appending a style to the head of the document through calling super inside the block override -->
{% block stylesheets %}
    {{ block.super }}
    <style id="logged-in-css">
        /* This CSS is only necessary once a user has logged in
        as it is responsible for styling the navigation bar and
        empty content block */

        /* Overall wrapper CSS */
        #wrapper {
            position: relative;
            
            height: 100%;
        }

        /* navbar CSS */
        #top-bar-wrapper {
            display: grid;
            grid-template-columns: 1fr 9fr;

            
            padding-top: 0.7em;
            padding-right: 3em;
            padding-left: 3em;
            padding-bottom: 0.35em;
        }

        #nav-box {
            border-radius: 20px;
            background-color: grey;
            justify-self: end;

            background-color: var(--primary-content);
        }

        #logo-image {
            height: 65px;
            justify-self: start;
        }

        .menu-link {
            float: left;
            text-decoration: none;
            padding: 20px;
            color: var(--primary-text);
        }

        .menu-link:hover {
            text-decoration: none;
            color: var(--secondary-text);
        }

        /* User dropdown CSS */
        .user-dropdown {
            position: relative;
            display: inline-block;
        }
        
        .user-dropdown .user-dropdown-button {
            padding: 20px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .user-dropdown:hover .user-dropdown-button, .user-dropdown-button:focus {
            text-decoration: none;
            color: var(--secondary-text);
        }

        .user-dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--primary-content);
            min-width: 150px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: -10px;
            top: 45px;
            z-index: 0;
            border-radius: 10px;
        }

        .user-dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .user-dropdown-content a:hover {
            text-decoration: none;
            color: var(--secondary-text);
        }

        /* Manage button CSS */
        .manage-dropdown {
            position: relative;
            display: inline-block;
        }
        
        .manage-dropdown .manage-dropdown-button {
            padding: 20px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .manage-dropdown:hover .manage-dropdown-button, .manage-dropdown-button:focus {
            text-decoration: none;
            color: var(--secondary-text);
        }

        .manage-dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--primary-content);
            min-width: 130px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: -10px;
            top: 45px;
            z-index: 0;
            border-radius: 10px;
        }

        .manage-dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .manage-dropdown-content a:hover {
            text-decoration: none;
            color: var(--secondary-text);
        }

        /* Content CSS */
        .content-wrapper {
            display: grid;
            
            padding-right: 3em;
            padding-left: 3em;
            padding-top: 0.35em;

            height: 85%;
        }

        .box {
            border-radius: 60px;
            padding: 1.4em;
            color: var(--primary-text);
            background-color: var(--primary-content);
        }
    </style>
{% endblock %}

{% block scripts %}
    <script id='dropdown-js'>
        // display according items when clicked
        function show_user_dropdown() {
            document.getElementsByClassName('user-dropdown-content')[0].style.display = 'block'
        }

        function show_manage_dropdown() {
            document.getElementsByClassName('manage-dropdown-content')[0].style.display = 'block'
        }

        document.onclick = function(event) {
            // if neither dropdown is hovered on, close them both
            if (!event.target.matches('.user-dropdown-button')) {
                document.getElementsByClassName('user-dropdown-content')[0].style.display = 'none'
            }

            if (!event.target.matches('.manage-dropdown-button')) {
                document.getElementsByClassName('manage-dropdown-content')[0].style.display = 'none'
            }
        }
    </script>
{% endblock %}

{% block body %}

    <div id="wrapper">
        <!-- Wrapper for all navigation/top-bar related elements for all  -->
        <div id="top-bar-wrapper">

            <!-- Logo image displayed to the left of navigation bar -->
            <img id="logo-image" src="https://ichef.bbci.co.uk/childrens-responsive-ichef-live/r/320/1x/cbbc/science-logo-final_alt7.png">
            
            <!-- The box containing all menu elements -->
            <div id="nav-box">
    
                <!-- The nav bar displays different elements depending on the status (student/teacher) of the user -->
                {% if user.is_staff %}
                    <div id="menu-list">
                        <a href="{% url 'main-home' %}"             class="menu-link">Home</a>
                        <a href="{% url 'main-generate-quiz' %}"    class="menu-link">Quiz me</a>
                        <a href="{% url 'main-view-results' %}"     class="menu-link">My Results</a>
                        <a href="{% url 'main-generate-terms' %}"   class="menu-link">Terms and definitions</a>
                        <a href="#"                                 class="menu-link">Class progress</a>
                        
                        <div class="manage-dropdown">
                            <button class='manage-dropdown-button' onclick="show_manage_dropdown()">Manage</button>
                            <div class="manage-dropdown-content" id='manage-dropdown'>
                                <a href='#'>Assignments</a>
                                <a href='#'>Classes</a>
                                <a href='{% url "main-manage-questions" %}'>Questions</a>
                                <a href='#'>Terms and definitions</a>
                            </div>
                        </div>

                        <div class="user-dropdown">
                            <button class='user-dropdown-button' onclick="show_user_dropdown()">{{ user.first_name }} {{ user.last_name }} </button>
                            <div class="user-dropdown-content" id='user-dropdown'>
                                <a href='#'>My Account</a>
                                <a href='{% url 'logout' %}'>Log out</a>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div id="menu-list">
                        <a href="{% url 'main-home' %}"             class="menu-link">Home</a>
                        <a href="{% url 'main-generate-quiz' %}"    class="menu-link">Quiz me</a>
                        <a href="{% url 'main-view-results' %}"     class="menu-link">My Results</a>
                        <a href="{% url 'main-generate-terms' %}"   class="menu-link">Terms and definitions</a>
                        <a href="{% url 'main-generate-terms' %}"   class="menu-link">Assignments</a>

                        <div class="user-dropdown">
                            <button class='user-dropdown-button' onclick="show_user_dropdown()">{{ user.first_name }} {{ user.last_name }} </button>
                            <div class="user-dropdown-content" id='user-dropdown'>
                                <a href='#'>My Account</a>
                                <a href='{% url 'logout' %}'>Log out</a>
                            </div>
                        </div>

                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="content-wrapper">
            <div class="box" id="content">
                {% if messages %}
                    {% for message in messages %}
                        <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% block content %} 
                    <!-- This block is overwritten by the actual page contents -->
                {% endblock content %}
            </div>
        </div>
    </div>
    
    

{% endblock body %}