<!-- Allows the page to override blocks defined in the logged_in page -->
{% extends "main_app/logged_in.html" %}

{% block stylesheets %}
    {{ block.super }}
    <style id="home-css">
        #content {
            height: 100%;
        }
    </style>
{% endblock %}

<!-- This block will be overwritten by the unique code of each page -->
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
        {% endfor %}
    {% endif %}
        
    <h1>Manage questions</h1>

    <p>
        Upload questions by csv
    </p>

{% endblock content %}