
<!-- Allows the page to override blocks defined in the logged_in page -->
{% extends "main_app/logged_in.html" %}

{% block stylesheets %}
    {{ block.super }}
    <style id="home-css">
        #content {
            padding: 3em;
            margin-bottom: 6em;
            
            justify-self: center;
            align-self: center;
        }
    </style>
{% endblock %}

<!-- This block will be overwritten by the unique code of each page -->
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
        {% endfor %}
    {% endif %}
        
    <h1>Upload questions</h1>

    {% load static %}
    <p style='word-wrap: break-word; width: 25em;'>
        To add multiple choice questions download and fill the template provided below. Ensure you save the file as a .csv
        <br>
        <a href='{% static "main_app/question_data_template.csv" %}'>Download template CSV</a>
    </p>
    
    

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <button value='submit'>Upload questions</button>
    </form>

{% endblock content %}