{% extends "main_app/logged_in.html" %}

{% block content %}
    <style>
        /* Question context CSS */
        #content {
            display: grid;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        #context {
            grid-column: 1/5;
        }

        #context > p {
            text-align: center;
        }

        /* Question boxes CSS */
        .question-box {
            display: grid;
            margin: 0.7em;
            text-align: center;

            background-color: var(--accent-colour);
            border-radius: 10px;
        }

        #q1-box {
            grid-column: 1/3;
            grid-row: 2/3;
        }

        #q2-box {
            grid-column: 3/5;
            grid-row: 2/3;
        }

        #q3-box {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        #q4-box {
            grid-column: 3/5;
            grid-row: 3/4;
        }

        .question-span {
            justify-self: center;
            align-self: center;
        }

        /* Question number CSS */
        #question-numbers-wrapper {
            grid-column: 1/5;
            align-self: end;
        }

        .question-number {
            display: grid;
            
            float: left;
            height: 40px;
            width: 40px;
            margin: 0.7em;
            border-radius: 100px;
            background-color: var(--accent-colour);
            color: var(--primary-text)
        }

        .question-number:hover, .question-box:hover {
            background-color: var(--primary-hover);
        }

        .question-nav-span {
            justify-self: center;
            align-self: center;
        }



    </style>

    <div id="context">
        <h1>{{ question_data.spec_point }} - Question 1</h1>
        <p>
            {{ question_data.question }}
        </p>
    </div>

    <div class="question-box" id="q1-box"><span class="question-span">{{ question_data.a }}</span></div>
    <div class="question-box" id="q2-box"><span class="question-span">{{ question_data.b }}</span></div>
    <div class="question-box" id="q3-box"><span class="question-span">{{ question_data.c }}</span></div>
    <div class="question-box" id="q4-box"><span class="question-span">{{ question_data.d }}</span></div>

    <div id="question-numbers-wrapper">
        <div class="question-number" id="q1-nav"><span class="question-nav-span">1</span></div>
        <div class="question-number" id="q2-nav"><span class="question-nav-span">2</span></div>
        <div class="question-number" id="q3-nav"><span class="question-nav-span">3</span></div>
        <div class="question-number" id="q4-nav"><span class="question-nav-span">4</span></div>
        <div class="question-number" id="q5-nav"><span class="question-nav-span">5</span></div>
    </div>

{% endblock content %}