<!-- Allows the page to override blocks defined in the logged_in page -->
{% extends "main_app/logged_in.html" %}

{% block stylesheets %}
    {{ block.super }}
    <style id="quiz-css">
        /* Question context-wrapper CSS */
        #content {
            display: grid;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        #context-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            grid-column: 1/5;
            grid-row: 1/4; 
        }

        /* Allow question context items to fill the horizontal space when there is no diagram */
        #context-wrapper > *:not(.diagram) {
            grid-column: 1/3;
            text-align: center;
            justify-self: center;
        }

        /* Question boxes CSS */
        .answer-box {
            display: grid;
            margin: 0.7em;
            text-align: center;

            background-color: var(--accent-colour);
            border-radius: 10px;
        }
        
        /* Different button positioning if a diagram is present */
        .a1-box.diagram {
            grid-column: 1/3;
            grid-row: 4/5;
        }

        .a2-box.diagram {
            grid-column: 3/5;
            grid-row: 4/5;
        }

        .a3-box.diagram {
            grid-column: 1/3;
            grid-row: 5/6;
        }

        .a4-box.diagram {
            grid-column: 3/5;
            grid-row: 5/6;
        }

        .a1-box {
            grid-column: 1/3;
            grid-row: 2/4;
        }

        .a2-box {
            grid-column: 3/5;
            grid-row: 2/4;
        }

        .a3-box {
            grid-column: 1/3;
            grid-row: 4/6;
        }

        .a4-box {
            grid-column: 3/5;
            grid-row: 4/6;
        }

        .question-span {
            justify-self: center;
            align-self: center;
        }

        /* Question number CSS */
        #question-numbers-wrapper {
            display: grid;
            
            grid-column: 1/4;
            grid-row: 6/7;
            align-self: end;
            
            height: auto;
            
            grid-gap: 0.7em;
            grid-template-columns: repeat(30, 50px);
            overflow-x: scroll;
            overflow-y: hidden;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        #nav-items-wrapper {
            grid-column: 4/5;
            grid-row: 6/7;
            align-self: end;
            align-items: end;
        }

        .question-number {
            display: grid;
            
            float: left;
            height: 40px;
            width: 40px;
            margin: 0.7em;
            border-radius: 100px;
            background-color: var(--accent-colour);
            color: var(--primary-text)
        }


        .question-nav-span {
            justify-self: center;
            align-self: center;
        }

        .question-paragraph, .answer-box {
            display: none;
        }
        
        
        /* styling the next and previous button */
        #previous-button {
            display: grid;
            
            background-color: var(--accent-colour);
            float: right;
            height: 40px;
            width: 40px;
            margin: 0.7em;
            margin-right: 0.1em;
            border-radius: 100px;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        #next-button {
            display: grid;
            
            background-color: var(--accent-colour);
            float: right;
            height: 40px;
            width: 40px;
            margin: 0.7em;
            margin-left: 0.1em;
            border-radius: 100px;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        #next-span, #previous-span {
            color: var(--primary-text);
            justify-self: center;
            align-self: center;
        }

        #next-button:hover, #previous-button:hover {
            background-color: var(--primary-hover);
        }
        /* Styling the finished button */
        #finished-button {
            display: grid;
            
            background-color: var(--accent-colour);
            float: right;
            height: 40px;
            width: 70px;
            margin: 0.7em;
            border-radius: 100px;
        }

        #finished-span {
            color: var(--primary-text);
            justify-self: center;
            align-self: center;
        }

        #finished-button:hover {
            background-color: var(--primary-hover);
        }

        /* Diagram CSS */
        .question-image {
            display: none;
            
            grid-auto-rows: 2/3;

            margin-right: auto;
            margin-left: auto;
            object-fit: contain;

            width: 100%;
            height: 100%;

            border-radius: 10px;
        }

    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script id="quiz-js">
        var default_colour;
        var hover_colour;
        var correct_colour;
        var incorrect_colour;
        
        var answers;
        var number_of_quesions;

        function init() {
            // get global CSS variables for relevant colours
            default_colour = getComputedStyle(document.documentElement).getPropertyValue("--accent-colour");
            hover_colour = getComputedStyle(document.documentElement).getPropertyValue("--primary-hover");
            correct_colour = "#5d9451";
            incorrect_colour = "#CD5C5D";
            number_of_quesions = {{ question_data.count }};

            // answers contains, question number, question id, and student answer
            last_quiz = JSON.parse('{{ user.last_quiz }}'.replace(/None/g, 'null'))
            
            select_question(1); // always select the first question when the quiz starts
            set_colours();
        }

        function set_colours() {
            for (var question_index = 0; question_index < last_quiz.length; question_index++) {
                // setting the colours of the answer boxes
                if (last_quiz[question_index][2] != null) {
                    student_answer_class_name = "q" + (question_index+1).toString() + " a" + last_quiz[question_index][2] + "-box"
                    student_answer_box = document.getElementsByClassName(student_answer_class_name)[0]
                    student_answer_box.style.backgroundColor = incorrect_colour
                }

                correct_answer_class_name = "q" + (question_index+1).toString() + " a" + last_quiz[question_index][3] + "-box"
                correct_answer_box = document.getElementsByClassName(correct_answer_class_name)[0]
                correct_answer_box.style.backgroundColor = correct_colour

                // setting the colours of the question numbers
                if (last_quiz[question_index][2] == last_quiz[question_index][3]) {
                    document.getElementById("q" + (question_index+1).toString() + "-nav").style.backgroundColor = correct_colour
                } else {
                    document.getElementById("q" + (question_index+1).toString() + "-nav").style.backgroundColor = incorrect_colour
                }

            }
        }

        function select_question(question_number) {
            if (question_number >= number_of_quesions) {
                current_question = number_of_quesions;
            } else if (question_number <= 1) {
                current_question = 1;
            } else {
                current_question = question_number;
            }
            
            // ensure that all question related elements are hidden before displaying another
            // have to use querySelectorAll to select multiple classes
            question_elements = document.querySelectorAll(".question-paragraph,.answer-box,.question-image");
            
            // set all display modes to none
            for (i = 0; i < question_elements.length; i++) {
                question_elements[i].style.display = "none";
            }

            // collect all elements relating to a single question, and display them with according properties
            single_question_elements = document.getElementsByClassName("q" + current_question)
            for (i = 0; i < single_question_elements.length; i++) {
                if (single_question_elements[i].constructor.name == "HTMLDivElement") {
                    single_question_elements[i].style.display = "grid";
                } else {
                    single_question_elements[i].style.display = "block";
                }
            }
            
            question_numbers = document.getElementsByClassName("question-number")
            for (i = 0; i < question_numbers.length; i++) {
                // set all question number divs to have default colour
                question_numbers[i].style.border = 'none';
            }

            // darken the selected question
            current_question_div = document.getElementById("q" + current_question + "-nav")
            current_question_div.style.border = 'thick solid grey';
            current_question_div.scrollIntoView();
        
        }

        function finish_review() {
            // REMOVE RETRIEVED ANSWERS
        }

        init()
        
    </script>
{% endblock %}

{% block content %}
    {% load static %}
    <div id="context-wrapper">
        <!-- The question queryset is iterated over, creating all question context-wrapper elements -->
        {% for question in question_data %}
            {% ifnotequal question.diagram_name "nan" %}
                <p class="question-paragraph q{{ forloop.counter }} diagram">
                    <strong class="q{{ forloop.counter }}">Question {{ forloop.counter }}/{{ question_data.count }} [Spec: {{ question.specification_point }}]</strong>
                    {{ question.question }}
                </p>

                <img class='question-image q{{ forloop.counter }} diagram' src='{% static "main_app/" %}{{question.diagram_name}}'>
            {% else %}
                <p class="question-paragraph q{{ forloop.counter }}">
                    <strong class="q{{ forloop.counter }}">Question {{ forloop.counter }}/{{ question_data.count }} [Spec: {{ question.specification_point }}]</strong>
                    {{ question.question }}
                </p>
            {% endifnotequal %}
        {% endfor %}
    </div>

    <!-- The question queryset is iterated over, creating all divs and elements for all questions -->
    {% for question in question_data %}
        {% ifnotequal question.diagram_name "nan" %}
            <div class="answer-box a1-box q{{ forloop.counter }} diagram"><span class="question-span">{{ question.a }}</span></div>
            <div class="answer-box a2-box q{{ forloop.counter }} diagram"><span class="question-span">{{ question.b }}</span></div>
            <div class="answer-box a3-box q{{ forloop.counter }} diagram"><span class="question-span">{{ question.c }}</span></div>
            <div class="answer-box a4-box q{{ forloop.counter }} diagram"><span class="question-span">{{ question.d }}</span></div>
        {% else %}
            <div class="answer-box a1-box q{{ forloop.counter }}"><span class="question-span">{{ question.a }}</span></div>
            <div class="answer-box a2-box q{{ forloop.counter }}"><span class="question-span">{{ question.b }}</span></div>
            <div class="answer-box a3-box q{{ forloop.counter }}"><span class="question-span">{{ question.c }}</span></div>
            <div class="answer-box a4-box q{{ forloop.counter }}"><span class="question-span">{{ question.d }}</span></div>
        {% endifnotequal %}
    {% endfor %}


    <!-- The question queryset is iterated over, creating question number navigation divs for all questions -->
    <div id="question-numbers-wrapper">
        {% for question in question_data %}
            <div class="question-number" id="q{{ forloop.counter }}-nav" onclick="select_question({{ forloop.counter }})">
                <span class="question-nav-span">{{ forloop.counter }}</span>
            </div>
        {% endfor %} 
    </div>
    <div id="nav-items-wrapper">
        <div id="finished-button" onclick="finish_review()"><span id="finished-span">Finish</span></div>
        <div id="next-button" onclick="select_question(current_question + 1)"><span id="next-span"> > </span></div>  
        <div id="previous-button" onclick="select_question(current_question - 1)"><span id="previous-span"> < </span></div> 
    </div>
{% endblock content %}