{% extends "main_app/logged_in.html" %}

{% block navigation %}
    <ul id="menu-list">
        <li class="menu-list-item"><a href="#" class="menu-list-item-link">Home</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-item-link">Do quizzes</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-item-link">Assignments</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-item-link">Terms and definitions</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-item-link">View specification</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-item-link">{{ user_data.forename }} {{ user_data.surname }}</a></li>
    </ul>
{% endblock navigation %}