#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list-item {
    float: left;
}

.menu-list-item-link {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.menu-list-item-link:hover {
    text-decoration: none;
    color: rgb(182, 182, 182);
}

#logo-image {
    float: left;
    height: 60px;
    margin: 25px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-right: 0;
}

#nav-bar {
    display: inline-block;
    padding: 0;

    background-color: #0086c3;
    height: 60px;
    margin: 25px;
    margin-bottom: 0px;
}

#content {
    height: 80.5%;
    margin: 25px;
    background-color: #0086c3;
}