{% extends 'main_app/logged_out.html' %}
{% load crispy_forms_tags %}

{% block stylesheets %}
{{ block.super }}

<style id='login-css'>
    #content {
        padding: 3em;
        margin-bottom: 6em;
        width: 500px;
        
        justify-self: center;
        align-self: center;
    }
</style>

{% endblock stylesheets %}

{% block content %}
<h1>Login</h1>

<form method='POST'>
    {% csrf_token %}

    {{ form|crispy }}
    <button value='submit'>Log in</button>
</form>

<p>
    Need an account? <a href="{% url 'register' %}">Sign up</a>
</p>

{% endblock content %}