{% extends 'main_app/logged_out.html' %}
{% load crispy_forms_tags %}

{% block stylesheets %}
{{ block.super }}

<style id='register-css'>
    #content {
        padding: 3em;
        margin-bottom: 6em;
        
        justify-self: center;
        align-self: center;
    }
</style>

{% endblock stylesheets %}

{% block content %}
<h1>Register</h1>

<form method='POST'>
    {% csrf_token %}

    {{ form|crispy }}
    <button value='submit'>Register</button>
</form>

<p>
    Already have an account? <a href="#">Sign in</a>
</p>

{% endblock content %}